.carousel {
    max-width: 400px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    margin-top: 20px;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
}
.all-content{
    display: flex;
    max-height: 600px;
}

h2{
    margin: 0;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden{
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 20%;
    transform: translateY(100%);
    position: absolute;
}
/* Styling the buttons */
.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 70%;
}
#carousel-button-next:hover, #carousel-button-prev:hover{
    opacity: 100%;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px;
}
.carousel .carousel-actions button#carousel-button-next {
    margin-right: 80px;   
}

/* Adding keyframes to be able to put animations (transitions) */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Text styling */

.moviesDesc{
    background: burlywood;
    margin: 20px auto;
    border-style: solid;
    border-color: black;
    max-width: 400px;
}

#main-title,
#subtitle { 
    font-family: Calibri, 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', sans-serif;
    text-align: center;
}
#subtitle{
    margin: 10px auto;
    padding-bottom: 5px;
}

#main-title{
    background-color: #fae277;
    padding-top: 5px;
    padding-bottom: 1px;
}
#web-name{
    margin-bottom: 0px;
    padding-bottom: 1px;
}
#below-web-name{
    padding: 10px;
    font-family: Calibri, 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', sans-serif;
    text-align: center;
}

.carousel__indicator {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
    opacity: 0.35;
    margin: 0 2.5px 0 2.5px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .carousel__indicator:hover {
    opacity: 0.75;
  }

  html, body {
    margin: 0;
    padding: 0;
}

#container {
    width: inherit;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #DECBB7;
    border-radius: 25px;
}

#search {
    display: flex;
    padding: 20px;
    background-color: #9A7247;
    padding-bottom: 5px;
    margin: 0 auto;
    border-radius: 25px 25px 0 0 ;
    color: #FFF;
}

#search label {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

#results {
    display: block;
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
}

#results a{
    text-decoration: none;
    cursor: pointer;
}

#results .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
    list-style-type: none;
}

#searchInput{
    max-width: 80em;
} 

.explanation{
    /* background-color: #9A7247; */
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
    color: #2B2826;
}

#searchInput{
    padding: 5px;
    width: 300px;
    margin: 5px auto 5px 5px;
}

