body{
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    margin: 0 auto;
    font-weight: 400;
}

.container{
    margin: 0 auto;
    max-width: 672px;
    width: 60%;
    /* border-style: solid;
    border-color: black; */
    text-align: center;
}

img{
    width: 100%;
}
#boardwalk p {
    width: 100%;
    text-align: justify;
}


h1{
    font-size: 2em;
    color: #FFF;
    margin: 0;
    padding: 50px;
    font-weight: 900;
}

h2{
    font-size: 1.33em;
    color: #ef5839;
    font-weight: 900;
}

.bold {
    font-weight: 900;
}

.section-one{
    background: #2e354F;
    margin: 0;
    width: 100%;
}

p{
    /* width: 80%; */
    text-align: center;
}

.section-two{
    /* padding: 20px 50px 30px 50px; */
    padding: 25px 0px 25px 0px;
    width: 100%;
}

.section-three{
    background-color: #2e354F;
    color: #FFF;
    padding: 20px 0px 50px 0px;
    width: 100%;
}

.section-three a, .section-two  a{
    color: #ef5839;
}

.btn.orange{
    background-color: #ef5839;
    color: #FFF;
    padding: 15px 35px;
}

.btn.white{
    background-color: #FFF;
    color: #2e354F;
    padding: 15px 35px;
    margin-left: 20px;
}

.btn{
    font-weight: 900;
    border-style: none;
}

.btn:hover{
    background-color: #F69F8E;
}

.btn:focus{
    background-color: #F69F8E;
}

#boardwalk{
    min-width: ;
    max-width: 530px;
    max-height: 200px;
}