html, body {
    margin: 0;
    padding: 0;
}

#container {
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: royalblue;
}

#search {
    display: flex;
    padding: 20px;
    background-color: orange;
    padding-bottom: 5px;
}

#search label {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

#results {
    display: block;
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
}

#results a{
    text-decoration: none;
    cursor: pointer;
}

#results .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
    list-style-type: none;
}

/* #searchInput{
    display: block;
} */

.explanation{
    background-color: orange;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 0px;
}